<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .card {
            
            left: 50%;
            transform: translateX(-50%);
        }

        .card-body {
            padding: 2em;
        }
    </style>
</head>

<body>


    <div id="list" class="p-5">

    
        <!-- Filter Section -->
       
             <form class="d-inline-flex container-fluid border border-dark p-3">
                <select class="form-select" aria-label="Filter By">
                    <option selected>Filter By</option>
                    <option value="subject">Subject</option>
                    <option value="location">Location</option>
                    <option value="price">Price</option>
                    <option value="spaces">Spaces Available</option>
                  </select>

                <div class="form-check">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="asc-radio" value="asc">
                    <label class="form-check-label" for="inlineRadio1">Ascending</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="desc-radio" value="desc">
                    <label class="form-check-label" for="inlineRadio2">Descending</label>
                  </div>
                </div>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              </form>
       

        <!-- Courses Section -->
       
         <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12" v-for="item in items">
    
                <div class="card mb-3 bg-dark text-light position-relative" style="max-width: 540px;">
                    <div class="row g-1">
                        <div class="col-md-6 col-lg-4">
                            <img :src="item.image_url" class="img-fluid img-rounded p-3 mt-3" alt="...">
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight: bolder;">{{ item.subject }}</h5>
                                <p class="">{{ item.description }}</p>
                                <p><span style="font-size:large ;"
                                        :class="item.stock > 5 ? 'text-success' : 'text-danger' ">{{ item.stock }}</span>
                                    spaces left!</p>
    
                                    <button @click="addToCart(item.subject)" :disabled="item.stock <= 0" class="btn btn-outline-light">Add To Cart </button>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-success" style="font-weight: bold; font-size: large;">
                                            &pound;{{
                                            item.price }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text" style="font-weight:bold; float:right ;"><i
                                                class="bi bi-geo-alt"></i> <em class="">{{ item.location }}</em> </p>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
         </div>
        
       

         <hr>


         <!-- Cart Section -->

         <div class="row mt-5">

            
            <h1 style="text-align: center;">CART ({{ cart.filter(obj => obj.quantity > 0).length }})</h1>
            <div style="text-align: center;" v-if="cart.filter(obj => obj.quantity > 0).length == 0">
                <h2 class="text-muted">No Items in Cart</h2>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mt-5" v-for="item in cart" >
    
            <div v-if="item.quantity > 0">

                <div class="card mb-3 bg-dark text-light position-relative" style="max-width: 540px;">
                    <div class="row g-1">
                        <div class="col-md-6 col-lg-4">
                            <img :src="item.image_url" class="img-fluid img-rounded p-3 mt-3" alt="...">
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight: bolder;">{{ item.subject }}</h5>
                                <p class="">{{ item.description }}</p>
                                <p><span style="font-size:large ;">
                                    <nav aria-label="...">
                                        <ul class="pagination pagination-sm">
                                          <li class="page-item" aria-current="page">
                                            <button @click="modifyCart(item.subject,'-')" :disabled="item.quantity == 0" class="btn btn-light btn-sm">-</button>
                                          </li>
                                          <li class="page-item active px-2 mt-1">
                                            {{ item.quantity }}
                                        </li>
                                          <li class="page-item">
                                            <button @click="modifyCart(item.subject,'+')" :disabled="item.quantity >= item.total_stock"  class="btn btn-light btn-sm">+</button>
                                        </li>
                                        </ul>
                                      </nav>
                                   
                                    <span class=""></span>
                                </p>
    
                                   
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-success" style="font-weight: bold; font-size: large;">
                                            &pound;{{
                                            item.price }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text" style="font-weight:bold; float:right ;"><i
                                                class="bi bi-geo-alt"></i> <em class="">{{ item.location }}</em> </p>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
    
            </div>
    
         </div>



    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script>
        const { createApp } = Vue

        createApp({
            mounted() {
                this.cart = [...this.items];
                this.cart.forEach(element => {
                    element['quantity'] = 0;
                });
                console.log(this.cart);
            },
            data() {
                return {
                    
                    items: [
                        {
                            'subject': 'Mathematics',
                            'description': 'Basics of Arithmetic & Algebra',
                            'location': 'London',
                            'price': 49,
                            'total_stock': 5,
                             //current stock
                            'stock': 5,
                            'image_url': 'images/undraw_mathematics_-4-otb.svg'
                        },
                        {
                            'subject': 'English',
                            'description': 'Basics of Grammar & Pronounciation',
                            'location': 'Newcastle',
                            'price': 29,
                            'total_stock':5,
                            //current stock
                            'stock': 5,
                            'image_url': 'images/undraw_things_to_say_re_jpcg.svg'
                        },
                        {
                            'subject': 'Economics',
                            'description': 'Get Started with Macro and Micro Economics',
                            'location': 'Birmingham',
                            'price': 99,
                            'total_stock':5,
                            //current stock
                            'stock': 5,
                            'image_url': 'images/undraw_discount_d-4-bd.svg'
                        }
                        
                    ],

                    cart: [
                        
                    ]
                }
            },
            methods: {
                addToCart(subject){

                    //find entire object and push to cart array
                    let result = this.items.findIndex((obj => obj.subject == subject));
                    this.items[result].stock--; 

                    //increment the quantity
                    let cartItem = this.cart.findIndex((obj => obj.subject == subject));
                    this.cart[cartItem].quantity++;
                    
                },
                //method for changing cart number
                modifyCart(subject, operation){
                    let result = this.items.findIndex((obj => obj.subject == subject));
                    let cartItem = this.cart.findIndex((obj => obj.subject == subject));

                    if(operation == "+"){
                    
                        //decrease stock   
                        this.items[result].stock--; 

                        //increment the quantity
                        this.cart[cartItem].quantity++;

                    }

                    else if(operation == "-"){

                        //decrease stock 
                        this.items[result].stock++; 

                        //increment the quantity
                        this.cart[cartItem].quantity--;

                    }
                }
            }
        }).mount('#list')
    </script>

</body>

</html>